{% extends "base.html" %}
{% load i18n django_bootstrap5 %}

{% block title %}{% translate 'Customers' %}{% endblock %}


{% block content %}

<link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" />
<link type="text/css" rel="StyleSheet" href="https://bootstraptema.ru/plugins/2016/shieldui/style.css" />
<script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="https://bootstraptema.ru/plugins/2016/shieldui/script.js"></script>

<br><br><br>
<div>
<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2">

<div id="chart">

<script>
 $(document).ready(function () {
 var percents = {{ data_for_chart.data|safe }};
 var periods = {{ data_for_chart.periods|safe }};
 $("#chart").shieldChart({
 theme: "light",
 primaryHeader: {
 text: "Возвращаемость клиентов"
 },
 exportOptions: {
 image: false,
 print: false
 },
 axisX: {
 categoricalValues: periods
 },
 tooltipSettings: {
 chartBound: true,
 axisMarkers: {
 enabled: true,
 mode: 'xy'
 } 
 },
 dataSeries: [{
 seriesType: 'line',
 collectionAlias: "Возвращаемость в процентах",
 data: percents 
 }]
 });
 });
 </script><!-- /.График -->

</div><!-- /.col-md-8 col-md-offset-2 -->
</div><!-- /.row -->
</div><!-- /.container -->
</div>
</div>
<div style="display: flex; justify-content: center;">
<form action="{% url 'analytics' %}" method="get">
    {% csrf_token %}
    <div class="row">
        <div class="col-auto">
            <label>{{ form.period.label }}</label>
        </div>
        <div class="col-auto">
            {{ form.period }}
        </div>
        <div class="col-auto">
            <label>{{ form.date_from.label }}</label>
        </div>
        <div class="col-auto">

            {{ form.date_from }}
        </div>
        <div class="col-auto">
            <label>{{ form.date_to.label }}</label>
        </div>
        <div class="col-auto">

            {{ form.date_to }}
        </div>
        <div class="col-auto">
            <input name="Get" class="btn btn-primary" type="submit" value="Получить">
        </div>
    </div>
</form>
</div>
<div style="display: flex; justify-content: center;">
<table class="table table-striped" style="width: 33%;">
    <thead>
      <tr>
        <th>С</th>
        <th>По</th>
        <th>Процент вернувшихся</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% for period in returnability %}
        <tr>
            <td>{{ period.date_from }}</td>
            <td>{{ period.date_to }}</td>
            <td>{{ period.count }}%</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<form action="{% url 'analytics' %}" method="post">
{% csrf_token %}
    <input name="Update" class="btn btn-primary" type="submit" value="Обновить">
</form>
{% endblock %}
