{% extends "base.html" %}
{% load i18n django_bootstrap5 %}

{% block title %}{% translate 'Customers' %}{% endblock %}


{% block content %}

<link type="text/css" rel="StyleSheet" href="https://bootstraptema.ru/plugins/2016/shieldui/style.css" />
<script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="https://bootstraptema.ru/plugins/2016/shieldui/script.js"></script>

<br><br><br>
<div style="display: flex; justify-content: center;">
<div class="container">
<div class="row">
<div class="col-md-8">
    <script>
        $(document).ready(function () {
           var percents = {{ data_for_chart.percents|safe }};
           var periods = {{ data_for_chart.periods|safe }};
           var transactions = {{ data_for_chart.count_transactions|safe }};
        $("#chart").shieldChart({
        theme: "bootstrap",
        primaryHeader: {
        text: "Возвращаимость клиентов"
        },
        exportOptions: {
        image: false,
        print: false
        },
        axisX: {
           categoricalValues: periods
       },
        axisY: [
        {
        title: {
        text: 'Процент',
        style: {
        color: "#52B0F0"
        }
        },
        swapLocation: false,
        axisTickText: {
        style: {
        color: "#52B0F0"
        }
        }
        }, {
        title: {
        text: 'Продажи',
        style: {
        color: "#D7C43A"
        }
        },
        swapLocation: true,
        axisTickText: {
        style: {
        color: "#D7C43A"
        }
        }
        }],
        dataSeries: [{
        axisY: 0,
        seriesType: "area",
        collectionAlias: 'Процент вернувшихся клиентов',
        data: percents
        },
        {
        axisY: 1,
        seriesType: "area",
        collectionAlias: 'Колличество продаж',
        data: transactions
        }
        ]
        });
        });
        </script>
               <div id="chart"></div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Начало периода</th>
                <th>Конец периода</th>
                <th>Процент вернувшихся</th>
                <th>Колличество продаж</th>
              </tr>
            </thead>
            <tbody>
                {% for period in returnability %}
                <tr>
                    <td>{{ period.date_from }}</td>
                    <td>{{ period.date_to }}</td>
                    <td>{{ period.count }}%</td>
                    <td>{{ period.transactions }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
    <form action="{% url 'analytics' %}" method="get">
        {% csrf_token %}
        <div class="row">
            <div class="col-auto">
                <label>{{ form.period.label }}</label>
                {{ form.period }}
            </div>
            <div class="col-auto">
                <label>{{ form.date_from.label }}</label>
                {{ form.date_from }}
            </div>
            <div class="col-auto">
                <label>{{ form.date_to.label }}</label>
                {{ form.date_to }}
            </div>
            <div class="col-auto">
                <input name="Get" class="btn btn-primary" type="submit" value="Получить">
            </div>
            <div class="col-auto">
            </div>
        </div>
    </form>
    <form action="{% url 'analytics' %}" method="post">
        {% csrf_token %}
        <input name="Update" class="btn btn-primary" type="submit" value="Обновить">
    </form>
</div>
</div>
</div>
</div>
{% endblock %}


 