{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate 'Schedules shifts' %}{% endblock %}

{% block content %}
<div class="container wrapper">      
  <h1 class="my-4">    
      {% translate 'Schedules shifts' %} 
  </h1> 
  <button class="btn btn-primary"><a class="dropdown-item" href="{% url 'shift_create' %}">{% translate 'Add a shift schedule' %}</a></button>
  {% if groups %}
  {% for period, workers in groups.items %}
  <div style="margin-top: 10px;">
    {% translate 'Period' %} <a href="{% url 'shift_update' slug=period %}">{{ period }}</a>
  </div>
  <table class="table table-bordered " style="white-space: nowrap;">
    <thead>
      <tr>
        <th scope="col" style="width: 12%;">{% translate 'Name' %}</th>
        {% for _, day in days_of_week %}
        <th scope="col" style="width: 12%;">{% translate day %}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for name, days in workers.items %}
      <tr>
        <th style="width: 0; max-width: fit-content;">{{ name }}</th>
        {% for day in days.days.values %}
        <td style="height: 50px; max-width: 100px; padding: 0;">
                {% for shift in day %}
                {% if shift == 2 %}
                  <div style="width: 50%; height: 100%; background-color: green; float: right;"></div>
                  {% endif %}
                  {% if shift == 1 %}
                  <div style="width: 50%; height: 100%; background-color: green; float: left;"></div>
                  {% endif %}
                {% endfor %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endfor %}
  {% endif %}
</div>
{% endblock %}