{% extends 'bootstrap.html' %}
{% load i18n django_bootstrap5 %}

{% block bootstrap5_content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light ms-3">
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
          <ul class="navbar-nav">
          {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {% translate 'Management' %}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/staff/">{% translate 'Staff list' %}</a></li>
                <li><a class="dropdown-item" href="/tasks/">{% translate 'Task list' %}</a></li>
                <li><a class="dropdown-item" href="/shift_schedule/">{% translate 'Schedules shifts' %}</a></li>
              </ul>
            </li>
            {% if user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link" href="/reviews/">{% translate 'Reviews' %}</a>
            </li>
            <li>
              <a class="nav-link" href="/customers/">{% translate 'Customers' %}</a>
            </li>
            <li>
              <a class="nav-link" href="/analytics/">{% translate 'Analytics' %}</a>
            </li>
            {% endif %}
            <form action="/logout/" method="post">
              {% csrf_token %}
              <input class="btn nav-link" type="submit" value="{% translate 'Logout' %}">
            </form>
          </ul>
          {% endif %}
        </div>
      </nav>

      {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

      {% block content %}(no content){% endblock %}
{% endblock %}
